.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
  width: 100vw;
  overflow: hidden;
}

.challenge__container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-top: 50%;
}

.textColumn {
  font-weight: 500;
  color: whitesmoke;
  font-size: 18px;
  line-height: 42px;
  padding-top: 1.5rem;
}

.imageColumn {
  opacity: 0.5;
}

.img{
  transform: scale(2);
  position: relative;
  /* left: 4rem; */
  top: 7rem;
}

.text__row {
  padding: 0 !important;
  line-height: 2.5;
  font-size: larger;
 
}
.arrow{
  color: rebeccapurple;
  cursor: pointer;
}


.stageCircleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stageCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #1e1e1e;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  font-size: 18px;
  font-weight: normal;
}

.activeStageCircle {
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  background: rgba(205, 138, 50, 0.551);
}


@media (min-width: 768px) {
  .container {
    flex-flow: row;
  } 

  .img {
    transform: scale(1);
    top: 0;
    left: 0;
  }
}

